
 
* {   /*Reset all the elements */ 
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 10em;
}

html,body{                /* html and body will occup the integrality of the page */ 
  height: 100%;
}

img {
  width : 50%;
  object-fit: cover; /* Allow to avoid satured images */
  height: auto;
}

header{             
  position: fixed;
  width: 100%;
  padding: 1.3rem 10%;      
  background-color: #292E45;
  display: flex ;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}



nav ul {
  display: flex ;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  font-size: 1.15rem;
  font-weight: 500;
}


body  {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
}

a {
	color: #FFFFFF;
}



footer {
  background-color: transparent;;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #FCF9F9;
  flex-grow : 0;
}

footer p {
	text-align: center;
}


.active, nav li :hover{
  text-decoration: underline;
}

p{
  margin: 10px;
}

section ol, section ul {
  margin-left: 40px;
}

section{
  display: flex;
  flex-direction: column;	
  margin-top: 100px;
  text-align: justify;
  padding: 1.3rem 10%;
  flex-grow: 1;
  
}

section ul li{
  list-style-type:disc; 
}

section ol li{
  list-style: decimal;
}


.lien {
	color: black;
}

.lien:hover{
  color: black;
  text-decoration: underline;
}


/*Table personnalization */ 

table {
	width : auto; 
	border-collapse: collapse;
	border: 1px solid black;
 	color: black;
}

caption {
	font-weight: 500;
	height: auto;
 	font-size: 16px;
}



th {	
	font-weight: bold;
	color : black; 
	height: auto;
  	text-align: center;
		
}

td,th,caption
{
	padding: 5px 20px; 
	border: 1px solid black;
}


td {
  text-align: left;
}

/*Breakpoint*/

@media (max-width: 1250px){
  header{
    padding: 1.3rem 5%;
  }


@media (max-width: 1100px) {
  header {
    height: 80px;
	}

  nav {
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 100%;
    background-color:  #92774E;
    display: block;
    transition: 0.2s ease-out;
    overflow: hidden;
  }


  nav ul{
    flex-direction: column;
    align-items: center;
  }
        
  nav ul li{
    padding: 1.5px;
  }
  
  footer,nav a{
    font-size: 0.7em;
  }

@media (max-width: 450px) {
     table td,th,caption,section {
    font-size: 10px;
  }









}
